name: CI
on: [ push, pull_request ]
jobs:
  Build:
    runs-on: 'ubuntu-20.04'

    strategy:
      matrix:
        node-version: [ 24 ]

    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Install dependencies
      run: npm ci
    - name: Build
      env:
        TEST_BROWSERS: Firefox,ChromeHeadless
      run: xvfb-run npm run all